pkgbase = tfswitch-bin
	pkgdesc = A command line tool to switch between different versions of terraform. Pre-compiled.
	pkgver = 1.17.1
	pkgrel = 1
	url = https://github.com/warrensbox/terraform-switcher
	arch = x86_64
	license = MIT
	provides = tfswitch
	conflicts = tfswitch
	source = https://github.com/warrensbox/terraform-switcher/releases/download/v1.17.1/terraform-switcher_v1.17.1_linux_amd64.tar.gz
	sha256sums = a8cefb741ef3edfb8bbe8cf2ae6198904ebf45c7f60f157dbcfef63cc8af601a

pkgname = tfswitch-bin
