pkgbase = tfswitch-bin
	pkgdesc = A command line tool to switch between different versions of terraform. Pre-compiled.
	pkgver = 1.13.0
	pkgrel = 1
	url = https://github.com/warrensbox/terraform-switcher
	arch = x86_64
	license = MIT
	provides = tfswitch
	conflicts = tfswitch
	source = https://github.com/warrensbox/terraform-switcher/releases/download/v1.13.0/terraform-switcher_v1.13.0_linux_amd64.tar.gz
	sha256sums = 2282f433b1a2a7569ae25d1f0867db225b180ee14814d38b54c2c0492b5ddc58

pkgname = tfswitch-bin
