pkgbase = google-cloud-cli-firestore-emulator
	pkgdesc = A google-cloud-cli component that provides a local, in-memory emulator for Firestore.
	pkgver = 551.0.0
	pkgrel = 1
	url = https://cloud.google.com/firestore/docs/emulator
	arch = x86_64
	license = Apache-2.0
	depends = google-cloud-cli
	depends = java-runtime
	options = !strip
	source = https://dl.google.com/dl/cloudsdk/release/downloads/for_packagers/linux/google-cloud-cli-firestore-emulator_551.0.0.orig.tar.gz
	sha256sums = 2c9e2655f09aa006ceee35b2fc16bac37ea7407b5d97d885b48d4d8ffeb7dd96

pkgname = google-cloud-cli-firestore-emulator
