---
name: lint

on:
  pull_request:
    paths:
      - '.github/scripts/*.sh'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    container: ghcr.io/kunzese/pkgbuilds:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run shellcheck
        run: shellcheck .github/scripts/*.sh
