---
name: release-package

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package name'
        required: true

jobs:
  release:
    uses: ./.github/workflows/reusable-release-package.yaml
    with:
      package_name: ${{ github.event.inputs.package_name }}
