---
name: release-changed-packages

on:
  push:
    branches:
      - master
    paths:
      - "**/PKGBUILD"
      - "**/.SRCINFO"

jobs:
  get-changed-packages:
    uses: ./.github/workflows/reusable-get-changed-packages.yaml

  release:
    needs: get-changed-packages
    strategy:
      matrix:
        package: ${{ fromJson(needs.get-changed-packages.outputs.changed_packages) }}
    uses: ./.github/workflows/reusable-release-package.yaml
    with:
      package_name: ${{ matrix.package }}
