---
name: test-changed-packages

on:
  pull_request:
    paths:
      - "**/PKGBUILD"
      - "**/.SRCINFO"

jobs:
  get-changed-packages:
    uses: ./.github/workflows/reusable-get-changed-packages.yaml

  test:
    runs-on: ubuntu-latest
    container: ghcr.io/kunzese/pkgbuilds:latest
    needs: get-changed-packages
    strategy:
      matrix:
        package: ${{ fromJson(needs.get-changed-packages.outputs.changed_packages) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Adding working directory to the git global config as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Build and install package ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        run: env EUID=1 makepkg -si --noconfirm

      - name: Run namcap on PKGBUILD
        working-directory: ${{ matrix.package }}
        run: namcap PKGBUILD

      - name: Run namcap on package
        working-directory: ${{ matrix.package }}
        run: namcap *.pkg.tar.zst

      - name: Verify package ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        run: |
          if [ -x "../.github/scripts/verify-${{ matrix.package }}.sh" ]; then
            ../.github/scripts/verify-${{ matrix.package }}.sh
          else
            echo "Package ${{ matrix.package }} has no verify script"
          fi
