---
name: update-packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    container: ghcr.io/kunzese/pkgbuilds:latest
    strategy:
      matrix:
        package-group:
          - name: cloudsdk
            packages: "google-cloud-cli-firestore-emulator"
            version_cmd: "curl -s https://dl.google.com/dl/cloudsdk/channels/rapid/components-2.json | jq -r '.version'"
          - name: tfswitch
            packages: "tfswitch tfswitch-bin"
            version_cmd: "curl -s https://api.github.com/repos/warrensbox/terraform-switcher/releases/latest | jq -r '.tag_name' | sed 's/^v//'"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Adding working directory to the git global config as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Update packages
        run: ./.github/scripts/update-package.sh "${{ matrix.package-group.version_cmd }}" ${{ matrix.package-group.packages }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.PAT_PKGBUILDS }}
          branch: update-pkgbuild/${{ matrix.package-group.name }}
          delete-branch: true
          author: ${{ secrets.GIT_USER_NAME }} <${{ secrets.GIT_USER_EMAIL }}>
          committer: ${{ secrets.GIT_USER_NAME }} <${{ secrets.GIT_USER_EMAIL }}>
          title: "chore(${{ matrix.package-group.name }}): bump version to ${{ env.LATEST_VERSION }}"
          commit-message: "chore(${{ matrix.package-group.name }}): bump version to ${{ env.LATEST_VERSION }}"
          body: ""

      - name: Enable auto-merge
        if: ${{ steps.cpr.outputs.pull-request-url }}
        run: gh pr merge --auto --rebase "${{ steps.cpr.outputs.pull-request-url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_PKGBUILDS }}
