pkgbase = tfswitch
	pkgdesc = A command line tool to switch between different versions of terraform.
	pkgver = 1.13.0
	pkgrel = 1
	url = https://github.com/warrensbox/terraform-switcher
	arch = x86_64
	license = MIT
	makedepends = go
	source = https://github.com/warrensbox/terraform-switcher/archive/v1.13.0.tar.gz
	sha256sums = 7a8f4943494c5f0d970ac112f407331ef92b865598915e0266bd55bdd071b0de

pkgname = tfswitch
